@*<div class="jumbotron">
        <h1>Transmitter </h1>
    </div>*@
<style>
 
    .progressbar {
       
        width:100%;
        padding-left:8px;
    }

        .progressbar li {
            float: left;
            list-style-type: none;
            height: 20px;
            background-color: #3C8DBC;
            width: 30.33%;
            text-align: center;
            margin-right:2px;
        }
 .act{
     color:white;
 }    


         
</style>



<div class="row body-margin" ng-app="myApp" ng-controller="myCtrl">
   
    <div class="row" style="text-align:center">
            <ul class="progressbar" >
                <li ng-class="{'act':tabVal==1}">Step 1</li>
                <li ng-class="{'act':tabVal==2}">Step 2</li>
                <li ng-class="{'act':tabVal==3}">Step 3</li>

            </ul>
      
    </div>
   
    @*Group Ekleme*@
    <div class="row" ng-show="tabVal===1">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th style="width:130px">Grup Adı Giriniz</th>
                    <td><input type="text" class="form-control" style="border-radius:4px !important;max-width:100%" /></td>
                </tr>
            </table>
        </div>
    </div>

    @*Field ekleme*@
    <div class="row" ng-show="tabVal===2">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th style="width:2px;text-align:center">Field</th>
                    <th>Field Name</th>
                    <th>Type</th>
                </tr>
                <tr ng-repeat="item in rows">
                    <th>{{item.id}}</th>
                    <td>
                        <input type="text" class="form-control" ng-model="item.fieldName" style="border-radius:4px !important;max-width :100%" />
                    </td>
                    <td>
                        <div class="form-group">
                            @*  <label for="sel1">Select list:</label>*@
                            <select class="form-control" id="sel1" ng-model="item.fieldType"  style="border-radius:4px!important;max-width:100%">
                                <option value="String">String</option>
                                <option value="Location">Location</option>
                                <option value="Int">Int</option>
                                <option value="Double">Double</option>
                            </select>
                        </div>

                    </td>
                </tr>

            </table>
        </div>

        <div>
            <a href="#" class="btn btn-success" ng-click="addRow()">Add Row</a>
        </div>
    </div>

    @*Api Key Ekleme*@
    <div class="row" ng-show="tabVal===3">
        <table class="table">
            <tr>
                <th style="width:130px">Apı Key</th>
                <td><input type="text" class="form-control" style="border-radius:4px !important;max-width :100%" /></td>
            </tr>
            <tr>
                <th>Get Example Write</th>
                <td><input type="text" class="form-control" style="border-radius:4px !important;;max-width :100%" /></td>
            </tr>
            <tr>
                <th>Read Get Example</th>
                <td><input type="text" class="form-control" style="border-radius:4px !important;;max-width :100%" /></td>
            </tr>
        </table>

    </div>


    <div class="row" style="text-align:center">
               <button class="btn btn-default btn-sm btn-block" style="width:100%;text-align:center" ng-click="nextTab()">İleri</button>
    </div>


  
    <div>
        <pre>
{{modelAsJson}}
</pre>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/App/Home/index.js"></script>
}