
@{
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Unit", "", "fa-dashboard"),
         new Crumb("Unit1", "", "fa-dashboard")
    });
}
<div ng-controller="unitController" ng-init="initController('@ViewBag.Id')">
    <div class="row">
        <!-- Line chart -->
        <div ng-repeat="field in fields"
             class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">{{field.Name}}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool"
                                ng-click="sendDashBoard(field.Id)"
                                data-toggle="tooltip"
                                data-placement="top" title="Send DashBoard">
                            <i class="fa fa-share-square-o"></i>
                        </button>
                        @*<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <div ng-if="field.fieldType!='Location'" class="box-body">
                    <flot dataset="field.fieldValue" options="options" height="300px"></flot>
                </div>
                <div ng-if="field.fieldType=='Location'" class="box-body">
                    <ng-map zoom="11" center="{{field.fieldValue[0].data[0][1]}}">
                        <marker ng-repeat="p in field.fieldValue[0].data"
                                position="{{p[1]}}"
                                title="time: {{p[0]}}"></marker>
                    </ng-map>
                </div>

            </div>
        </div>
        <!-- /.Line chart -->
        <!--/charts-->

    </div>

</div>
@section scripts{
    <script src="~/Scripts/AdminLTE/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/flot/jquery.flot.categories.min.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts_/Unit/index.js"></script>
}